@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*#ff6a3e
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "SF Pro HK","microsoft jhenghei","SF Pro Display","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #636363;
  background: #fff;
  height: 100%;
  position: relative;
  background:#f6f6f6;
}

ul{padding:0px; margin:0px;}
li{ list-style:none;}

/* 13/6/18 */

.col2 i{
    display: inline;
    float : left;
    padding: 10px;
    vertical-align: middle;
    margin:10px 20px;
}

.col2 .right-text{
    padding: 10px 0px;
    display: inline;
}

.boxshadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.woow_icon_earn_money{
    background:url(../images/money-bag.svg) no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display:inline-block;
}


select.countryCode {
    width: 100% !important;
    font-size: 13px;
    display: inline-block !important;
    height: 42px;
    padding: 10px 17px;
    /* padding-right: 100px !important; */
    font-size: 13px !important;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    vertical-align: middle;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px !important;
    margin: 0px !important;
      -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
}

input.invite-phone {
    width: 60% !important;
    display: -webkit-inline-box;
    border-radius: 0 4px 4px 0;
    margin-left: -10px;
    vertical-align: top;
}

        
select.countryCode {
  position: relative;
}


.selectdiv select::-ms-expand {
display: none;
}


.selectdiv{
    position: relative;
    display:inline-block;
    width:40%;
}
.selectdiv i{
position: absolute;
    top: 12px;
    right: 5px;
    pointer-events: none;
    padding: 4px;
    font-size: 10px;
}

/* end 13/6/2018 */

/*  28/5/18 */

#fh5co-header #navbar li.active-on a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #ff6a3e;
}


@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}


.modal-header .close {
    margin-top: -24px !important;
}

h5.modal-title {
    font-size: 22px;
    color: #00ADB5 !important;
}
/* end 28/5/18 */

/* 24/5/18  */


.no-effect{
    text-decoration: none;
    display:block;
}

.no-effect:hover, no-effec:active, no-effect:focus{
    text-decoration: none;
}

.select-box:hover {
    border-color: #ff6a3e;
}

.select-box{
        padding-bottom: 50px;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 28px 10px;
    margin: 0 0 28px;
    -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
   position: relative;
    
}

.select-box i{
    height: 100px !important;
    width: 100px !important;
}

.select-box p{
    padding-bottom: 0px;
    margin-bottom: 3px;
    color:#7f7f7f !important;
}

.select-box h2{
font-size: 24px;
    padding-top: 10px;
    padding-bottom: 7px !important;
    margin-bottom: 0px;
}

.left-grey-bg-color h2{
    padding: 10px 0 !important;
    margin-bottom: 10px !important;
}


/* end 24/5/2018 */

.box-btn:hover{
    text-decoration: none;
}

a.no-underline:hover{
    text-decoration: none;
}

.know-more-txt blockquote{
    border-left: none !important;
}
.select-box blockquote{
    border-left: none !important;
    display: block;
    margin-top: 25px;
    color: #7f7f7f !important;
    font-size: 13px;
}
.align-right{
    float:right;
}

.left-grey-bg-color {
    background-color: #f4f4f4;
    padding: -30px -30px;
    margin: 0px -30px -60px;
    border-radius: 0px 0px 5px 5px;
}

.black-bg {
    font-size: 13px;
    background-color: black;
    color: white;
    padding: 4px 6px;
}

blockquote.double-quote{
    border-left: none !important;
    display: block;
    margin-top: 25px;
    color: #7f7f7f !important;
    font-size: 13px;
    padding: 17px 38px;
}

.select-box blockquote:before{
    font-family: Georgia, serif;
    font-size: 80px;
    line-height: 36px;
    color: #ccc;
    left: 8px;
    margin-top: -8px;
    position: absolute;
    content: "\201C";
}

blockquote.double-quote:before{
    font-family: Georgia, serif;
    font-size: 80px;
    line-height: 36px;
    color: #ccc;
    left: 28px;
    margin-top: -8px;
    position: absolute;
    content: "\201C";
}


.select-box blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 80px;
    right: 10px;
    bottom: 22px;
    content: "\201D";
    color: #ccc;
}

blockquote.double-quote:after{
font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 80px;
    right: 30px;
    bottom: -9px;
    content: "\201D";
    color: #ccc;
}

.know-more-txt blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 30px;
    color: #ccc;
    left: 23px;
    content: "\201C";
}

.know-more-txt blockquote:after{
font-family: Georgia, serif;
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 10px;
    bottom: 105px;
    content: "\201D";
    color: #ccc;
}

input:checked {
 background: #e6e6e6;
}

.contract-table th{
    min-width: 120px;
}

th{
    color: black;
    font-weight: normal;
}

 ul li{font-size: 13px; }

@media screen and (max-width:1220px){
    .contract-table tr{
    display: block;
    text-align: left;
}

.contract-table tr, .contract-table td, .contract-table th{
      border: none !important;    
        border-top: none !important;
    }
    
    .contract-table td{
        padding-left: 5px;
    }
    
    

.contract-table td{
    display: block;
    text-align: left;
    padding-top: 0px !important;
    padding-left: 0px !important;
}
.contract-table th{
    display: block;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
    
}

@media screen and (max-width:768px){
    
    #fh5co-header #navbar li.active-on a span:before {
    visibility: hidden !important;
    }
    
    .left-grey-bg-color{
        padding: 30px 30px 30px !important;
    text-align: center;
    }
    
    .align-right{
    float:inherit;
    }
    .ewallet-page-table td, .ewallet-page-table th{
        display: block;
        text-align:center;
        border:none !important;
    }
    .ewallet-page-table thead{
        display: none;
    }
    .ewallet-page-table td:last-child{
        border-bottom: 1px solid #eee !important;
    }

    .white-bg{
        padding: 20px 10px 10px 10px !important
    }
    
   /* ul.inline-list li {
    display: block;
    }*/
    .wicon-paypal{
        width: 64px !important;
        height: 45px !important;
    }
    .wicon-mastercard{
        width: 60px !important;
        height: 45px !important;
    }
    .wicon-visa{
        width: 50px !important;
        height: 45px !important;
    }
    
    .wicon-bank{
        width: 65px !important;
        height: 45px !important;
    }
    .wicon-bank-a{
        width: 65px !important;
        height: 45px !important;
    }
    .wicon-walkin{
        width: 65px !important;
        height: 45px !important;
    }
}


.ewallet-action-btn button.woow-btn-none {
    height: 41px;
    background: none;
    border: none;
    font-size: 26px;
    color: #00ADB5;
    line-height: 26px;
}

.ewallet-action-btn button.woow-btn-none:hover {
    color: #555;
}


.list-group-item.active a span {
    color: white !important;
}

.fix-height{
    height: 100px !important;
}

.ul-left{
    text-align:left; font-size: 18px;
}

h1, h2, h3, h4, h5, h6, input, label{
    font-family: "SF Pro HK","microsoft jhenghei","SF Pro Display","SF Pro Icons","PingFang HK","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}

.txt-bigger{
    font-size: 23px;
}

.line-throught{
    text-decoration: line-through;
    display: block;
}

.btn:hover, .btn:active, .btn:focus {
    background: #bbb !important;
}


.wicon-paypal{
    background: url(../images/paypal.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 90px;
    height: 70px;
    display: inline-block;
}

.wicon-mastercard{
    background: url(../images/mastercard.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 60px;
    height: 70px;
    margin: 0 5px;
    display: inline-block;
}

.wicon-visa{
    background: url(../images/visa.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 60px;
    height: 70px;
    display: inline-block;
}

.wicon-bank{
    background: url(../images/bank.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 95px;
    height: 70px;
    display: inline-block;
}
.wicon-bank-a{
    background: url(../images/bank_a.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 95px;
    height: 70px;
    display: inline-block;
}
.wicon-walkin{
    background: url(../images/handshake.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 95px;
    height: 70px;
    display: inline-block;
}

.padding-right{
    padding-right: 10px !important;
}

.no-border tr td, .no-border tr th{
    border-top: none !important;
}

.inline-list a{
    color: black !important;
}

.inline-list a:hover{
    color: #ff6a3e !important;
    text-decoration: none;
}

.inline-list .text-muted{
    color: #ddd;
}

.inline-list li{
    display: inline-block;
    padding: 5px 5px 5px 10px;
}

.inline-list li span.active{
    color: black;
}

.inline-list li span.active i{
    color: #00ADB5;
}

.inline-list{
    width: auto;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* 13/6/18 */
th{
    font-size: 13px;
}
/* end 13/6/18 */

.left-border{
    border-left:1px solid #eee;
}

button.woow-btn-none {
    background: transparent;
    border: none;
    color: #00ADB5;
    font-size: 24px;
    vertical-align: middle;
    padding-bottom: 0;
}

.round-btn{
    padding: 5px 10px !important;
    
}
/* 13/6/18 */
.nselectdiv{
 position: relative;
    display: inline-block; 
}

.nselectdiv i {
    position: absolute;
    top: 12px;
    right: 5px;
    pointer-events: none;
    padding: 4px;
    font-size: 10px;
}


select{
    font-size: 13px;
    display: inline-block;
    height: 42px;
    padding: 10px 17px;
    /* padding-right: 100px !important; */
    font-size: 13px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0px ;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    display: block;
}

.form-group span {
    font-size: 13px;
}

.dollar-sign:after{
    display:inline-block;
    position:absolute;
    content: "HK$";
    color: black;
    z-index: 1000;
}
.dollar-sign{
    position: relative;
}

.form-group label, .form-group p{
    margin-bottom: 0px;
}

table thead {
    border-top: 2px solid #ddd;
}

/* end 13/6/18 */

.green-icon{
    color: forestgreen;
}

table a.woow-btn-blue, table .woow-btn-blue{
    margin: 0 !important;
}

table .form-group{
    margin-bottom: 0px;
}


.white-bg{
     background: white;
    padding: 30px 30px 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.list-group-item.active a{
    font-size: 13px;
    color: white !important;
}

.list-group-item a span{
    font-size: 13px;
    color: #777 !important;
}

.list-group-item span{
    font-size: 13px;
    color: white;
}

.list-group-item a i, .list-group-item i{
    padding-right: 10px;
    color: #00ADB5;
}

.list-group-item a:hover{
    text-decoration: none;
    color: black !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #fff !important;
    background-color: #444 !important;
    border-color: #444 !important;
}

.small-icon{
    font-size: 8px !important;
    vertical-align: middle !important;
    padding-left: 3px;
    display: inline-block !important;
}



.sub-link:hover > .nav-sub{
    display:block;
    position:absolute;
}


.nav-sub{
    display: none;
    background: #fff;
    width: auto;
    padding: 10px 10px 10px 10px;   
    text-align: left;
    min-width: 180px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
}

.nav-sub li{
    list-style: none;
    line-height: 18px;
    padding: 5px 5px 5px 5px;
}

.nav-sub li a{
    vertical-align: middle;
}
.nav-sub li a:hover{
    text-decoration: none;
}

.nav-sub li i{
    vertical-align: middle;
    padding-right: 10px;
}

.lang-box i{
    vertical-align: middle;
}
.nav li i{
    vertical-align: middle;
    font-size: 13px;
    color: #bda631;
}

.nav-tabs{
    margin-top: 15px;
}

.tab-content{
    padding-bottom: 80px;
}

.tab-pane{
    padding: 20px;
}

label {
    font-weight: normal;
    color: black;
}

.nav-tabs > li > a{
    font-size: 13px;
}


.contact-info li {
    font-size: 13px;
    list-style: none;
    margin: 0 0 10px 0;
    position: relative;
    padding-left: 40px;
}

.contact-info li i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    color: #00ADB5;
}

.contact-info{
    list-style: none;
    padding-left: 0px;
}

#fh5co-header #navbar li.lang-box a{
    display: inline-block !important;
    padding: 17px 3px !important;
}

a .sign-up{
    background-color: #f2f2f2;
	color:#b2b4b5;
    border-radius: 0px;
    padding: 6px 20px 6px;
    line-height: 21px;
    border: none;
}

a .sign-up:hover{
    background-color: #f9f9f9 !important;
    color: #b2b4b5;
}

.signup_box , .setting_box {
    background-color: rgba(255,255,255,0.7);
    padding: 0px;
}

#signup{
    padding: 60px 0;
    background: url(../images/signup_bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    
}
#setting{
    padding: 60px 0;
    background: #f9f9f9 !important;
    background-size: cover;
    
}


.signup_box_left {
    background: white;
    padding: 30px 30px 60px;
    min-height: 550px;
}

.signup_box_right {
    padding: 30px;
}


.woow-input{
    font-size: 18px !important;
    text-align: center !important;
    background-color: #f9f9f9 !important;
}

.woow-txt-blue{
    color: #00ADB5 !important;
}

.woow-txt-orange{
    color: #ff6a3e !important;
}

.woow-txt-lightgrey{
    color: #999;   
}

/* 24/5/2018 */

.woow-icon-litecoin{
    background: url(../images/litecoin.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
}

.woow-icon-monero{
    background: url(../images/monero.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
}


.woow-icon-eth-orange{
    background: url(../images/ethereum_orange.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
}


.woow-icon-bitcoin{
    background: url(../images/bitcoin.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
}

.woow-icon-eth{
    background: url(../images/ethereum.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
}

/* end 24/5/2018 */



.scroll-left {
     height: 25px;	
 overflow: hidden;
 position: relative;
}

@media screen and (max-width: 768px) {
    
    .white-bg{
  border:none !important;
  border-radius: 0px !important;
}

    
.nav-sub li {
    padding: 9px 5px 10px 5px;
}
    
    
.nav-sub{
   display:block;
   position: static;
    width: auto;
    padding: 0px;
    text-align: center;
    min-width: auto;
    box-shadow: none;
}
    
.sub-link:hover > .nav-sub {
    display: block;
    position: inherit;
}
    

}


.scroll-left p {
 position: absolute;
 width: 1100px;
 height: 100%;
 margin: 0;
 line-height: 30px;
 text-align: left;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 50s linear infinite;
 -webkit-animation: scroll-left 50s linear infinite;
 animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(0%); }
  50% { -moz-transform: translateX(-100%); }
  50.001%   { -moz-transform: translateX(100%); }
  100%   { -moz-transform: translateX(0%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(0%); }
 50% { -webkit-transform: translateX(-100%); }
    50.001%   { -webkit-transform: translateX(100%); }
    100%   { -webkit-transform: translateX(0%); }
}
@keyframes scroll-left {
 0%{ 
 -moz-transform: translateX(0%); /* Browser bug fix */
 -webkit-transform: translateX(0%); /* Browser bug fix */
 transform: translateX(0%); 		
 }
 50% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
    50.001% { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 
 }
    100% { 
 -moz-transform: translateX(0%); /* Browser bug fix */
 -webkit-transform: translateX(0%); /* Browser bug fix */
 transform: translateX(0%); 
 }
}
/* 2/6/18 */

.woow-big-btn:hover > .woow_icon_eth{
    background: url(../images/icon_eth_on_orange.svg) 0 0px no-repeat;
}

.woow-big-btn:hover > .woow_icon_xmr{
    background: url(../images/icon_xmr_on.svg) 0 0px no-repeat;
}
.woow-big-btn:hover > .woow_icon_ltc{
    background: url(../images/icon_ltc_on.svg) 0 0px no-repeat;
}


/* end 2/6/18 */

.woow_icon_eth{
    background: url(../images/icon_eth.svg) 0 0px no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* 29/5/18 */

.woow_icon_xmr{
    background: url(../images/icon_xmr.svg) 0 0px no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

.woow_icon_ltc{
    background: url(../images/icon_ltc.svg) 0 0px no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}
/* end 29/5/18 */

.woow-big-btn:hover > .woow_icon_btc{
    background: url(../images/icon_btc_on.svg) 0 0px no-repeat;
}

.woow_icon_btc{
    background: url(../images/icon_btc.svg) 0 0px no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* 4/6/18 */

.woow_icon_ltc_bg{
    background: url(../images/icon_ltc.svg) 0 0px no-repeat;
    background-size: contain;
    background-color: #ff6a3e;
    border-radius: 50%;
    border:3px solid #ff6a3e;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

.woow_icon_xmr_bg{
    background: url(../images/icon_xmr.svg) 0 0px no-repeat;
    background-size: contain;
    background-color: #ff6a3e;
    border-radius: 50%;
    border:3px solid #ff6a3e;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

/* end 4/6/18 */


.woow_icon_btc_bg{
    background: url(../images/icon_btc.svg) 0 0px no-repeat;
    background-size: contain;
    background-color: #ff6a3e;
    border-radius: 50%;
    border:3px solid #ff6a3e;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

.woow_icon_eth_bg{
    background: url(../images/icon_eth.svg) 0 0px no-repeat;
    background-size: contain;
    background-color: #00ADB5;
    border-radius: 50%;
    border:3px solid #00ADB5;
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

.woow_icon_btc_on{
    background: url(../images/icon_btc_on.svg) 0 0px no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: 3px;
    vertical-align: middle;
}

#difficulty {
    padding-top: 62px;
    border-top: 1px solid #eee;
    font-size: 14px;
    padding-left: 53px;
    padding-right: 53px;
    background: #444;
    color: #ccc;
    padding-bottom: 5px;
}
.big-icon{
    font-size: 38px;
}

/* 2/6/18 */

.woow-ltc-bg{
    background:url(../images/litecoin_bg.jpg) 50% 20% no-repeat;
    background-size: cover;
}

.woow-xmr-bg{
    background:url(../images/xmr_bg.jpg) 50% 20% no-repeat;
    background-size: cover;
}

/* end 2/6/18 */

.woow-eth-bg{
    background:url(../images/eth.jpg) 50% 20% no-repeat;
    background-size: cover;
}

.woow-btc-bg{
    background:url(../images/bitcoin_bg3.jpg) 50% 20% no-repeat;
    background-size: cover;
}

.padding-top{
    padding-top: 50px;
}
.padding-bottom{
    padding-bottom: 50px;
}


.padding-around{
    padding: 100px 0;
}

.invisible-desktop{
    display: none;
}

.invisible-mobile{ 
    display: block;
}

#fh5co-footer .woow-footer-logo a{
        background: url(../images/logo_white.svg) no-repeat;
    background-size: cover;
width: 220px;
    height: 67px;
    display: block;
    margin-bottom: 32px;
    margin-top: -24px;
    margin-left: -4px;
    color: transparent !important;
    
}
#fh5co-footer .woow-footer-logo a:hover{
    color: transparent !important;
}

.woow-padding-bottom{
    padding-bottom: 30px;
}

.woow-padding-sm-top{
    padding-top: 20px;
}

.woow-padding-top{
    padding-top: 100px;
}

#woow-join{
    padding-top: 100px;
    background: url(../images/signup_bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

#fh5co-home .woow-big-btn{
    font-size: 22px !important;
    padding: 10px 40px !important;
    display: inline-block;
}

a.woow-btn-grey, .woow-btn-grey{
    border: 2px solid #999;
    background: #999; 
    padding: 5px 20px 3px 20px;
    margin: 12px 10px 0 0px;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    font-size: 20px !important;
    text-decoration: none;
}

a.woow-btn-orange, .woow-btn-orange{
    border: 2px solid #ff6a3e;
    background: #ff6a3e;
    padding: 5px 20px 3px 20px;
    margin: 12px 10px 0 0px;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    font-size: 20px !important;
    text-decoration: none;
}

a.woow-btn-grey:hover, a.woow-btn-grey:active, a.woow-btn-grey:focus, .woow-btn-grey:hover, .woow-btn-grey:active, .woow-btn-grey:focus{
    border: 2px solid #999 !important;
    background: #ffffff !important;
    color: #999 !important;
    text-decoration: none !important;
}

a.woow-btn-orange:hover, a.woow-btn-orange:active, a.woow-btn-orange:focus, .woow-btn-orange:hover, .woow-btn-orange:active, .woow-btn-orange:focus, .btn.woow-btn-orange:hover, .btn.woow-btn-orange:active, .btn.woow-btn-orange:focus{
    border: 2px solid #ff6a3e !important;
    background: #ffffff !important;
    color: #ff6a3e !important;
    text-decoration: none !important;
}

a.woow-btn-blue, .woow-btn-blue{
    font-size: 20px !important;
    border: 2px solid #00ADB5;
    background: #00ADB5;
    padding: 5px 20px 3px 20px;
    margin: 12px 10px 0 0px;
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    text-decoration: none;
}

a.woow-btn-blue:hover, a.woow-btn-blue:active, a.woow-btn-blue:focus, .woow-btn-blue:hover, .woow-btn-blue:active, .woow-btn-blue:focus, .btn.woow-btn-blue:hover, .btn.woow-btn-blue:active, .btn.woow-btn-blue:focus{
    border: 2px solid #00ADB5 !important;
    background: #ffffff !important;
    color: #00ADB5 !important;
    text-decoration: none !important;
}


.woow-desc{
 padding: 100px 10px;
}

.full-width{
    width: 100% !important;
}

.woow-signup-bg{
    background-image:  url(../images/mining_bg3.jpg); 
    background-size: cover;
}

.woow_icon_hardware{
         background:url(../images/icon_13.svg) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.woow_icon_alternative{
         background:url(../images/icon_10.svg) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.woow_icon_dashboard{
     background:url(../images/icon_14.svg) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.woow_icon_connect{
     background:url(../images/icon_8.svg) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}


.woow_icon_cloud{
     background:url(../images/icon_6.svg) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.woow_icon_withdrawal{
     background:url(../images/icon_12.svg) no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
}

.woow-white-btn{
    background: white !important;
    color: #ff6a3e !important;
    border-radius:20px;
    padding: 5px 20px;
}

.woow-blue-btn{
    background: #00ADB5 !important;
    color: #ffffff !important;
    border-radius:40px;
    padding: 5px 20px;
}

.woow-grey-bg{
    background-color: #f9f9f9 !important;
}


.no-padding{
    padding: 0px !important;
    margin: 0px !important;
}
.woow-txt-white{
    color: white !important;
}

.woow-icon-1{
    background:url(../images/icon_1.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    
}

.woow-icon-email{
    background:url(../images/email.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 20px auto !important;
    display:block !important;
}


#signup .woow-icon-1, #signup .woow-icon-2, #signup .woow-icon-3, #signup .woow-icon-email{
    width: 100px;
    height: 100px;
}

#signup .box-services .icon span {
    width: 100px;
    height: 100px;
}

#signup h3{
    margin-bottom: 10px;
}

#signup .box-services{
    margin-bottom: 30px;
}

#signup hr{
    border-top: 1px solid #a7a6a6;
}

.woow-icon-2{
    background:url(../images/icon_2.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
}
.woow-icon-3{
    background:url(../images/icon_3.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
}

/* 5/6/18 */
.woow-more-ltc-white{
    background:url(../images/icon_more_ltc_white.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

.woow-more-eth-white{
    background:url(../images/icon_more_eth_white.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

.woow-more-xmr-white{
    background:url(../images/icon_more_xmr_white.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}


/* 24/5/2018  */

.padding-top-sm{
    padding-top: 10px;
}

.woow-icon-4-white{
    background:url(../images/icon_4_white.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}
.woow-icon-4{
    background:url(../images/icon_4.svg) no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

/* 24/5/2018 */
a {
  color: #72b4b4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #72b4b4;
  outline: none;
}

p {
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "PT Sans", Arial, serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #00ADB5;
}

::-moz-selection {
  color: #fff;
  background: #00ADB5;
}

::selection {
  color: #fff;
  background: #00ADB5;
}

#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header #navbar .navbar-right {
  margin-right: 0;
  text-align: center;
}
@media screen and (max-width: 992px) {
    .left-border{
    border-left:none;
}
    
  #fh5co-header #navbar .navbar-right {
    padding-bottom: 0px;
  }
}
#fh5co-header #navbar li a {
  color:#9fd3d3;
  position: relative;
  font-size: 13px;
  font-weight: 400;
}



@media screen and (max-width: 992px) {
  #fh5co-header #navbar li a {
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px;
  }
}


#fh5co-header #navbar li a span {
  position: relative;
  display: inline-block;
  margin: auto;
  font-weight:700;
  font-size:12px;
}
#fh5co-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -27px;
  left: 0;
  background-color: #9fd3d3;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#fh5co-header #navbar li a:hover {
  color: #fff;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a {
    color: #ff6a3e;
  }
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #ff6a3e;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a span:before {
    background-color: transparent;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
  }
}
@media screen and (max-width: 992px) and (max-width: 480px) {
  #fh5co-header #navbar li.active a {
    color: #ff6a3e;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar li.active a span {
    display: inline-block;
    color: #ff6a3e;
  }
  #fh5co-header #navbar li.active a span:before {
    bottom: 0;
    height: 0;
    background: transparent;
  }
}


#fh5co-header #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header #navbar li.call-to-action a.sign-up {
  border: 2px solid #00ADB5;
  background: #00ADB5;
    display: inline-block;
}
#fh5co-header #navbar li.call-to-action a.sign-up:hover {
  background: #00ADB5;
  color: #fff;
}
#fh5co-header #navbar li.call-to-action a.log-in {
  border: 2px solid #ff6a3e;
  background: #ff6a3e;
    display: inline-block;
}
#fh5co-header #navbar li.call-to-action a.log-in:hover {
  background: #ff6a3e;
  color: #fff;
}
#fh5co-header .navbar-brand {
  width: 130px;
  margin:18px 0px;
  padding:0px;
  height:auto;
}
#fh5co-header .navbar-brand img{
	width:100%;
}

#fh5co-header .navbar-brand > span {
  color: #ff6a3e;
}
@media screen and (max-width: 992px) {
  #fh5co-header .navbar-brand {
    padding-right: 0 !important;
      margin-left: 10px;
	  width:155px;
  }
  #fh5co-header .navbar-brand:after, #fh5co-header .navbar-brand:before {
    margin-left: 25px;
  }
  #fh5co-header #navbar li {
    padding-top: 9px;
  }
  #fh5co-header #navbar li a span::before {
	  bottom: -29px;
  }	
}
#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#fh5co-header.navbar-fixed-top .navbar-brand {
  color: #535659;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  #fh5co-header.navbar-fixed-top #navbar li a {
    font-size: 13px;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  color: #ff6a3e !important;
}
@media screen and (max-width: 768px) {
    
    .woow-footer-logo {
    padding: 30px 0 0;
}
    
    #signup, #setting{
        padding:0px;
    }
    
    .invisible-desktop{
        display: block;
    }
    .invisible-mobile{
        display: none;
    }
  #fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #ff6a3e !important;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #ff6a3e;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    background-color: transparent;
  }
}


#fh5co-header.navbar-fixed-top #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.sign-up {
  border: 2px solid #00ADB5;
  background: #00ADB5;
  display: inline-block;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.sign-up:hover {
  background: #00ADB5;
  color: #fff;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.log-in {
  border: 2px solid #ff6a3e;
  background: #ff6a3e;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.log-in:hover {
  background: #ff6a3e;
  color: #fff;
}
#fh5co-header .navbar-default {
  border: transparent;
  background: rgba(0,0,0,0.7);
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  width:100%;
  position:absolute;
}
@media screen and (max-width: 938px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
    #difficulty{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

#fh5co-home {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color: #e6e6e6;
  color: #fff;
}

#fh5co-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

#fh5co-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#fh5co-home .text-inner {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-home .text-inner h1 {
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 58px;
  text-shadow: 0px 0px 10px rgba(0,0,0,1)
}
#fh5co-home .text-inner h1 span {
  color: #ff6a3e;
}
#fh5co-home .text-inner h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 60px 0;
  text-shadow: 0 0 10px black;
}
#fh5co-home .text-inner .call-to-action {
  display: block;
  width: 100%;
}
#fh5co-home .text-inner .call-to-action a {
  width: 230px;
  display: inline-block;
  font-size: 13px;
  padding: 15px 0;
  margin-right: 10px;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-home .text-inner .call-to-action a i {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 13px;
}
#fh5co-home .text-inner .call-to-action a.demo {
  border: 2px solid #ff6a3e;
  background: #ff6a3e;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
    
    
    #fh5co-home .text-inner h2{
        font-size: 13px;
    line-height: 22px;
    }
    
    #fh5co-home, #fh5co-home .text-wrap {
  height: 500px;
}
    
    #fh5co-home .text-inner h1{
        font-size: 34px !important;
        line-height: 34px;
    }
  #fh5co-home .text-inner .call-to-action a.demo {
    margin-bottom: 20px;
  }
    
    .price-box.popular {
    margin-top: 72px !important;
    }
}
#fh5co-home .text-inner .call-to-action a.download {
  border: 2px solid #00ADB5;
  background: #00ADB5;
  text-decoration: none !important;
}

#fh5co-services,
#fh5co-testimony,
#fh5co-explore,
#fh5co-faq,
#fh5co-team,
#fh5co-trusted,
#fh5co-footer,
#fh5co-work,
#fh5co-counters,
#fh5co-pricing,
#fh5co-blog {
  padding: 8em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-testimony,
  #fh5co-explore,
  #fh5co-faq,
  #fh5co-team,
  #fh5co-trusted,
  #fh5co-footer,
  #fh5co-work,
  #fh5co-counters,
  #fh5co-pricing,
  #fh5co-blog {
    padding: 3em 0;
  }
}

#fh5co-services {
  padding-bottom: 0;
}

.fh5co-explore {
  padding-bottom: 40px;
}

.fh5co-project .project-grid {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
  display: table;
}
.fh5co-project .project-grid .desc {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .fh5co-project .project-grid .desc {
    opacity: 1;
  }
}
.fh5co-project .project-grid .desc h3 {
  margin-bottom: 10px;
}
.fh5co-project .project-grid .desc h3 a {
  color: #fff;
}
.fh5co-project .project-grid .desc h3 a:hover, .fh5co-project .project-grid .desc h3 a:focus {
  text-decoration: none;
}
.fh5co-project .project-grid .desc span {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
}
.fh5co-project .project-grid .desc p {
  padding: 0;
}
.fh5co-project .project-grid .desc p a {
  padding: 0;
  color: #fff;
}
.fh5co-project .project-grid .desc p a:hover, .fh5co-project .project-grid .desc p a:focus {
  text-decoration: none;
}
.fh5co-project .project-grid .desc .download, .fh5co-project .project-grid .desc .love {
  position: absolute;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 7px 10px;
  line-height: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.fh5co-project .project-grid .desc .download {
  left: 30px;
}
.fh5co-project .project-grid .desc .love {
  right: 30px;
  color: red;
}
.fh5co-project .project-grid:hover .desc {
  opacity: 1;
}

.fh5co-bg-color {
  background: #f2f2f2;
}

#fh5co-testimony .wrap-testimony {
  position: relative;
  width: 100%;
}
#fh5co-testimony .wrap-testimony .testimony-slide {
  text-align: center;
}
#fh5co-testimony .wrap-testimony .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
#fh5co-testimony .wrap-testimony .testimony-slide span a.twitter {
  color: #00ADB5;
  font-weight: 300;
}
#fh5co-testimony .wrap-testimony .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-testimony .wrap-testimony .testimony-slide figure img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimony .wrap-testimony .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.09);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 992px) {
  #fh5co-testimony .wrap-testimony .testimony-slide blockquote {
    width: 100%;
  }
}
#fh5co-testimony .wrap-testimony .testimony-slide blockquote p {
  font-style: italic;
  color: #8f989f;
  font-size: 20px;
  line-height: 1.6em;
}
#fh5co-testimony .wrap-testimony .testimony-slide.active {
  display: block;
}
#fh5co-testimony .wrap-testimony .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#fh5co-testimony .wrap-testimony .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#fh5co-testimony .wrap-testimony .arrow-thumb a:hover, #fh5co-testimony .wrap-testimony .arrow-thumb a:focus, #fh5co-testimony .wrap-testimony .arrow-thumb a:active {
  text-decoration: none;
}

.getting-started {
  background: #ff6a3e;
}
.getting-started .getting-grid {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 65%;
  display: table;
}
.getting-started .getting-grid .desc {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  height: 400px;
  padding: 0 3em;
}
.getting-started .getting-grid2 {
  width: 35%;
  display: table;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .getting-started .getting-grid, .getting-started .getting-grid2 {
    width: 100% !important;
    text-align: center;
  }
}
.getting-started h2 {
  color: #fff;
  margin-bottom: 10px;
}
.getting-started h2 span {
  color: #FFC12D;
}
.getting-started p {
  color: rgba(255, 255, 255, 0.8);
}
.getting-started .call-to-action {
padding: 150px 10px;
}
.getting-started .call-to-action .sign-up {
  padding: 6px 30px;
  margin: 0;
  font-size: 13px;
  color: #fff;
}
.getting-started .call-to-action .sign-up:hover, .getting-started .call-to-action .sign-up:focus, .getting-started .call-to-action .sign-up:active {
  text-decoration: none;
}

.fh5co-blog .blog {
  margin-bottom: 40px;
}
.fh5co-blog .blog-grid {
  height: 350px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.fh5co-blog .blog-grid .date {
  width: 90px;
  text-align: center;
  padding: 10px;
  background: #fff;
}
.fh5co-blog .blog-grid .date span, .fh5co-blog .blog-grid .date small {
  display: block;
  color: #333;
}
.fh5co-blog .blog-grid .date span {
  font-size: 30px;
}
.fh5co-blog .blog-grid .date small {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fh5co-blog .desc {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  background: #f2f2f2;
}
.fh5co-blog .desc .desc-grid {
  width: 80%;
  padding: 20px;
}
.fh5co-blog .desc .desc-grid h3 {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 20px;
}
.fh5co-blog .desc .reading {
  width: 20%;
  background: rgba(0, 0, 0, 0.7);
  color: #FFC12D;
  text-align: center;
  padding: 20px;
}
.fh5co-blog .desc:hover, .fh5co-blog .desc:focus {
  text-decoration: none;
}

/* 24/5/2018  */
.price-box {
  border: 2px solid #ECEEF0;
  text-align: center;
  background-color:white;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
#fh5co-pricing-eth .price-box.popular {
  border: 2px solid #ff6a3e;
}

#fh5co-pricing-eth .price-box.popular .popular-text {
    background: #ff6a3e;
}

.price-box.popular {
  border: 2px solid #00ADB5;
}
.price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -65px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #00ADB5;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-pricing-eth .price-box.popular .popular-text:after {
  border-top-color: #ff6a3e;
}

.price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #00ADB5;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
 .pricing-plan {
  margin: 0;
  padding: 0;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
.price {
  font-size: 40px;
  color: #000;
}
.price .currency {
  font-size: 20px;
  top: -15px;
}
.price small {
  font-size: 16px;
}
.pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}
.pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
    font-size: 18px;
}

.fh5co-services {
  padding-bottom: 4em;
}
.box-services {
  position: relative;
  margin-bottom: 70px;
}
.box-services .icon {
  margin-bottom: 20px;
}
.box-services .icon span {
  width: 130px;
  height: 130px;
  display: inline-block;
  position: relative;
}
.box-services .icon span i {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 60px;
  color: rgba(0, 0, 0, 0.5);
  color: #00ADB5;
  z-index: 1;
}

.fh5co-services .fh5co-post h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.fh5co-services .call-to-action .btn-learn {
  padding: 12px 30px;
  background: #00dee8;
  color: #fff;
}

.core-features {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
}
.core-features .grid2 {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .core-features .grid2 {
    width: 100%;
  }
}
.core-features .grid2 .core-f {
  padding: 40px;
}
.core-features .grid2 .core-f h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.core-features .grid2 .core-f h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.core-features .grid2 .core-f .core {
  margin-bottom: 50px;
}
.core-features .grid2 .core-f .core i {
  float: left;
  color: #00ADB5;
  font-size: 28px;
}
.core-features .grid2 .core-f .core .fh5co-post {
  padding-left: 80px;
}

.fh5co-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.fh5co-counters .counter-wrap {
  border: 1px solid red !important;
}
.fh5co-counters .fh5co-counter {
  font-size: 44px;
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-family: "PT Sans", Arial, serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}
.fh5co-counters .fh5co-counter-label {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 2em;
  display: block;
}

#fh5co-team .team-box {
  position: relative;
  padding: 30px;
  padding-top: 5em;
  background: #fff;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  #fh5co-team .team-box {
    margin-bottom: 110px;
  }
}
#fh5co-team .team-box .user {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -73px;
  margin-left: -73px;
  width: 147px;
  height: 147px;
}
#fh5co-team .team-box .user img {
  width: 147px;
  height: 147px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 15px solid #f2f2f2;
}
#fh5co-team .team-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
#fh5co-team .team-box .position {
  font-size: 13px;
  color: #8f989f;
  display: block;
  margin-bottom: 30px;
}
#fh5co-team .team-box .social-media {
  margin: 0;
  padding: 0;
}
#fh5co-team .team-box .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}
#fh5co-team .team-box .social-media li a {
  color: #333;
}
#fh5co-team .team-box .social-media li a:hover, #fh5co-team .team-box .social-media li a:focus, #fh5co-team .team-box .social-media li a:active {
  text-decoration: none;
  color: #ff6a3e !important;
}

.box-faq {
  margin-bottom: 60px;
}
.box-faq i {
  float: left;
  color: #00ADB5;
}
.box-faq .desc {
  padding-left: 40px;
}
.box-faq h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.partner-logo {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.section-heading h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.section-heading h2 span {
  position: relative;
}

.section-heading h2 span:before {
  left: 0px;
  background: #ff6a3e;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 28px;
  }
}
.section-heading h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #8f989f;
  position: relative;
  display: block;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 16px !important;
    line-height: 28px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
letter-spacing: 0px !important;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #9fd3d3;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 21px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 21px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 28px;
  right: 20px;
  z-index: 21;
  padding: 8px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 30px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #00ADB5;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #00ADB5;
}
.btn:hover, .btn:active, .btn:focus {
  background: #999 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #ff6a3e;
  color: #fff;
}
.social li a.social-circle {
  background: #ff6a3e;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #ff6a3e;
  color: #fff;
}
.social.social-circle a {
  background: #ff6a3e;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .to-animate-3,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #00ADB5;
}


/* van 2017 19-06 */
.sms_verfi{
	display: inline-block;
	width: 55%;
}
.verf_btn{
	display: inline-block;
	font-size: 14px !important;
	height: 42px;
	margin: 0px;
	line-height: 1;
	letter-spacing: 0.5px;
	width: 42%;
	padding: 5px 8px;
}
.verf_btn i{
	margin-right: 3px;
}
.remark-s{
	font-size: 14px;
margin-top: -15px;
color: #000;
background-color: #f3f8f8;
padding: 4px 15px;
border-radius: 30px;
	display: inline-block;
	margin-bottom: 5px;
}
.price-box h4{
	margin-bottom: 15px;
}
.woow-input{
	height: auto;
}

#fh5co-header{ position:inherit;}
#fh5co-header #navbar li{padding-top:10px;}
#fh5co-header #navbar li.lang-box{padding:8px 30px 0px;}
#fh5co-header #navbar li.call-to-action .external{ float:left; margin-top:12px;}
#fh5co-header #navbar li a.active_nav{ color:#fff;}
.log-in{background-color: #bda631; color: #fff; border-radius: 0px; padding: 6px 20px 6px; line-height: 21px; border: none;}
.log-in:hover{ background-color: #d4bd48; color:#fff;}

#fh5co-header #navbar li.call-to-action a{padding:0px;}

#fh5co-home{ height:auto; padding:0px;}
#fh5co-home .container{width:100%; padding:0px; margin:0px;}
#fh5co-home .gradient{background: rgba(0, 0, 0, 0.1);}
#fh5co-home .text-wrap{ margin-top:160px;}
.text-left{ text-align:left;}
#fh5co-home .text-inner h1{ text-shadow:none; margin-bottom:5px; font-size:55px;}
#fh5co-home .text-inner h2{ font-size:26px; margin-bottom:20px;}

.btn-blue{ background:#009dee; color:#FFF; padding:10px 25px;}
.btn-blue:hover{ background:#22b4ff; color:#FFF; text-decoration:none;}
.big-btn{ font-size:22px; display:inline-block;}

.online_reg{ background:top right url(../images/bg_online_reg.jpg) no-repeat #fff; height:400px; background-size: contain; position:relative;}
#fh5co-services{padding:0px;}
.online_reg .section-heading{width:50%; margin-top:150px; padding:0px 50px 50px;}
.headline_b{color:#17668e; margin-bottom:10px;}
.section-heading h3{ color:#4c4c4c;}

.trading_app{ background:top right url(../images/bg_trading_app.jpg) no-repeat; height:auto; background-size: cover; position:relative;}
.trading_app .section-heading{position:absolute; right:5%; top:45%; margin:0px; width:40%;}

.joinnow{ background:top right url(../images/bg_joinnow.jpg) no-repeat; height:auto; background-size: cover; position:relative;}
.joinnow .section-heading{width:100%; color:#FFF; margin:0px; padding:110px 20px;}
.joinnow .headline_b{ color:#FFF;}
.joinnow .section-heading h3{ color:#FFF; padding:0px;}

.contact{ background:top right url(../images/bg_contact.jpg) no-repeat; height:auto; background-size: cover; position:relative; padding:30px 0px;}
.icon_contact{ width:58px; height:58px; padding:10px; background:#0a8196; -webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
border-radius: 30px;}
.t_con{color:#FFF; font-size:13px; padding:8px 50px 0px;}
.t_con a{ color:#FFF;}
.t_con a:hover{text-decoration:none; color:#bda631;}
.contact .col-md-4{ padding:50px 15px;}

.gold_btn{background:#bda631; padding:6px 20px; display:inline-block; color:#FFF; border:none;}
.gold_btn:hover{color:#FFF; text-decoration:none; background:#d4bd48;}

.fh5co-nav-toggle{ color:#bda631;}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{ max-height: inherit;}

.foot_link{background:#101010; text-align:center; padding:10px 10px 15px;}
#fh5co-footer{padding:0px; background:#1c1b1b;}
.foot_link li{list-style:none; display:inline-block; margin:0px 12px;}
.foot_link ul{ margin:0px; padding:0px;}
.foot_link li a{text-decoration:none; color:#6e6e6e; font-size:13px; font-weight: 400;}
.foot_link li a:hover{ color:#bda631; text-decoration:none;}
.ff_co{padding:50px 10px; text-align:center;}
.ff_co img{ opacity: 0.5; width: 55px;}
.ff_co p{ padding-top:10px; color:#5d5d5d; font-size:12px; font-weight: 400;}

/* software */
.software_bg{ text-align:center; background:top center url(../images/bg_software.jpg) no-repeat; background-size: cover; padding:50px 20px 20px; height:790px; background-attachment: fixed;}
.software_bg h1{color:#FFF; font-weight:700; font-size:45px; margin-bottom:10px;}
.software_bg h2{color:#FFF; font-weight:400; font-size:25px; margin-bottom:50px;}
.download_area{padding:100px 20px 80px;}
.download_area h1{ font-size:20px; color:#9f9e9e; margin-bottom:20px;}

/* login_popup */
#login .modal-lg{ width:600px;}
#login .modal-content{border-radius:0px; }
#login .modal-content .prow{ padding:0px 30px;}
#login .modal-header{ background:#f7f7f7; border:none; padding:15px 30px;}
#login .modal-header h4{ font-size:28px; color:#1e688f;}
#login .modal-header .close{ margin-top:-13px!important; margin-right:-23px;}
#login .nav-tabs{ border:none; margin-top:25px;}
#login .nav-tabs > li.active > a, #login .nav-tabs > li.active > a:hover, #login .nav-tabs > li.active > a:focus{ border:none; opacity: 1;}
#login .nav > li > a:hover, #login .nav > li > a:focus, #login .nav > li > a{ border:none; background:#fff;}
#login .nav > li > a > img{ vertical-align:bottom;}
#login .nav > li > a{ color:#555; opacity: 0.5; padding:5px 25px 5px 0px; font-size:13px;}
#login .nav > li > a:hover{opacity: 1;}
#login .tab-content > .tab-pane{padding:20px 0px;}
#login .modal-body{ padding:0px;}
#login .form-horizontal .form-group{ margin:0px 0px 20px;}

.form-control {
    background-color: #fcfcfc;
    border: 1px solid #e4e4e4;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    padding: 8px 10px;
    color: #757575;
    margin: 0px;
    display: inline-block;
	border-radius:0px;
	font-size:13px;
}

#login .col-md-3, #login .col-sm-3, #login .col-xs-12{ padding:0px 5px; margin:2px 0px;}
#login .col-md-9, #login .col-sm-9, #login .col-md-12, #login .col-sm-12{ padding:0px 5px; margin:2px 0px;}

.btn-dropdown .caret{ position:absolute; top:20px; right:12px;}
.dropdown-menu{ min-width:inherit; border-radius:0px; left:0; padding:0px;}
.dropdown-menu > li > a{font-size:13px; padding:5px 10px; white-space:inherit;}
.dropdown-menu ul{ list-style:none; padding:0px; max-height:150px; overflow-y:auto; margin:0px;}
.dropdown-menu ul > li > a {
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: inherit;
	font-size:13px;
	text-decoration:none;
}
.dropdown-menu .dropdown_area{width:100%; padding:5px;}
.dropdown-menu .dropdown_area .form-control{ padding:3px 5px; font-size:13px; height:auto;}
.dropdown-menu ul > li > a:focus, .dropdown-menu ul > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5897fb;
}
.btn-dropdown{ text-align: left;}
.modal-footer{padding:5px; border:none;}
#login .tab-content {padding-bottom: 20px;}
#login .gold_btn{ width:100%; padding:10px; margin-bottom:10px;}

.left{ float:left;}
.right{ float:right;}
a{ text-decoration:none;}
.txt-link{ color:#aaa;}
.txt-link:hover{ color:#bda632; text-decoration:none;}
#login .txt-link{ font-size:13px;}

.modal-open .modal{ margin-right:-17px;}
.modal-dialog{ margin:10% auto;}

.alert_area{text-align:center; float:left; width:100%; margin-top:2px;}
.alert_area span{ background:#de6383; color:#fff; border-radius:30px; padding:4px 10px 4px 8px; font-size:12px; position:relative;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);}
.alert_area span:before{ content:""; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #de6383;
position:absolute; top:-6px; left:50%; margin-left:-6px;}
.alert_area span img{ vertical-align: middle;}

/* signup */
.form_signup_bg{ text-align:left; background:top center url(../images/bg_form.jpg) no-repeat; background-size: cover; padding:50px 20px 50px; background-attachment: fixed;}
.form_signup_bg h1{ color:#fff; font-size:40px; font-weight:700; margin-bottom:20px;}
.form_border{ padding:10px; background:rgba(255, 255, 255, 0.5); border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.form_content{ background:#fff; width:100%;}
.form_hl{ background:#e8e8e8; text-align:center; display:block; padding:15px; font-size:25px; color:#0b5680; margin:0px; font-weight:700;}
.form_signup_bg .form-horizontal .form-group{ margin-left:10px; margin-right:10px;}
.form_left{vertical-align: middle; text-align: right; float: none; display: inline-block;}
.form_right{vertical-align: middle; float: none; display: inline-block; width:74%;}
.f_row{background:#fbfbfb; margin-bottom:10px; padding:35px 0px 10px;}
.form_left span{ color:#353535; font-weight:700;}
.form_left span small{ color:#118cb0; font-size:12px; display:block; font-weight:300;}

.form_right .col_nb{ padding:0px;}
.form_right .col_nt{ padding-left:0px;}

.form_right .gold_btn{ width:100%; height:42px;}

.radio{ display:inline-block; padding-right:20px;}
.radio label{  color:#636363;}

.form_right .select2_group{display: inline-block; width: auto; margin-right: 5px;}
.m_input_line{margin-bottom:8px;}

.form-group{ margin-bottom:25px;}
.form_right .sele_full{ width:100%;}
.dropzone {
    min-height: 150px;
    border: 1px solid #e5e5e5;
    background-color: #fcfcfc;
    margin-top: 5px;
	color:#ccc;
}
.tooltip_area{ position:relative;  cursor:pointer; display:inline-block;}
.tooltip_b{display: inline-block;
background: #e8e8e8;
border-radius: 30px;
padding: 5px;
width: 30px;
height: 30px;
text-align: center;
color: #5a839a;
vertical-align: middle;
font-size: 20px;
line-height: 20px;
font-weight: 400;}

.tooltip{    visibility: hidden; font-size:13px;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
	bottom: 125%;
    left: 50%;
    margin-left: -60px;}
	
.tooltip:after{	    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}	
.tooltip_area:hover .tooltip{display:block; opacity: 1;  visibility:visible;}
.with_tooltip{ width:90%;}
.form-horizontal .align_c{text-align:center; padding:0px;}
.form_footer{ text-align:center; padding:30px 20px;}
.big_btn{ font-size:25px; font-weight:700; padding:10px 50px;}

/* aboutus */
.aboutus_bg{ text-align:center; background:bottom center url(../images/bg_aboutus.jpg) no-repeat; background-size: cover; padding:50px 20px 20px; height:350px;}
.aboutus_bg h1{color:#FFF; font-weight:700; font-size:45px; margin-bottom:10px; margin-top:75px;}
.aboutus_bg h2{color:#FFF; font-weight:400; font-size:25px; margin-bottom:50px;}
.sub_hl{ font-size:28px; font-weight:700; margin:50px 0px 30px; color:#17668e; padding:0px 20px;}
.aboutus_area p{ padding:0px 20px;}
.aboutus_area .row{padding-bottom:50px;}
.a_row{ padding:5px 15px 20px;}
.a_row:after{ content:""; clear:both; display:block;}

.col-5{width:20%; padding:10px; float:left;}
.about_ip img{width:100%;}
.t_title{ background:#fff; padding:15px 5px; color:#17668e;}

/* contactus */
.contact_us_area{ margin:30px;}
.contactus_bg{ text-align:center; background:bottom center url(../images/bg_contactus.jpg) no-repeat; background-size: cover; padding:50px 20px 20px; height:350px;}
.contactus_bg h1{color:#FFF; font-weight:700; font-size:45px; margin-bottom:10px; margin-top:75px;}
.contactus_bg h2{color:#FFF; font-weight:400; font-size:25px; margin-bottom:50px;}
.contact_us_area .sub_hl{ text-align:center; margin-bottom:40px;}
.contact_us_area .icon_contact{width: 90px; height: 90px; padding: 20px; -webkit-border-radius: 100px;
-moz-border-radius: 100px;
-ms-border-radius: 100px;
border-radius: 100px;}
.contact_us_area .t_con{ color:#676767; font-weight:400;}
.contact_us_area .t_con a{ color:#676767;}
.contact_us_area .t_con a:hover{color:#bda631;}
.contact_us_area .row{padding-bottom:50px;}

/* myaccount */
.btn_acc .form-control{width: auto; padding: 6px 28px 6px 8px; border: none; background:#eee; font-size:13px; height:auto; position:relative;}
.btn_acc .form-control:hover, .btn_acc .form-control:focus{ background:#f7f7f7;}
.btn_acc{ float:left; position:initial;}
.btn_acc .btn-dropdown .caret{ color:#b39e33; top:15px; right:10px;}

#fh5co-header #navbar .call-to-action .btn_acc{ padding-top:10px;}
.navbar-right .dropdown-menu{ width:100%;}

.dropbtn {background-color: #4CAF50; padding: 16px; font-size: 16px; border: none;}
.dropdown {position: relative; display: inline-block;}
.dropdown-content {display: none; position: absolute;  background-color: #fff;  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; width:100%; text-align:left;}
.dropdown-content a {color: black; padding: 12px 16px; text-decoration: none; display: block;}
.dropdown-content a:hover {background-color: #f7f7f7;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f7f7f7;;}
.btn_acc .dropbtn .caret{ color:#b39e33; top:15px; right:10px; position:absolute;}
#fh5co-header #navbar li.call-to-action .dropdown-content .external{float: none; margin-top:0px; padding:10px 12px!important;}
.dropdown-content img{ height:21px;}

.myacc_bg{ text-align: center; background:bottom center url(../images/bg_acc.jpg) no-repeat; background-size: cover; padding:50px 20px 20px; height:189px;}
.myacc_bg h1{color:#FFF; font-weight:700; font-size:45px; margin-bottom:10px; margin-top:20px;}
.myacc_area .container{margin:30px auto 30px;}
.acc_info_box{ padding:20px 30px; background:#fff; text-align:left; margin-bottom: 10px;}
.acc_info_box .row{padding:10px 0px;}

.b_txt{ font-weight:700; color:#17668e;}

.acc_info_box .small_btn{ margin-left:15px; padding:5px 8px;}
.acc_safe_box{ text-align:left; background:#fff; }
.safebox_header{ padding:20px 30px;}
.safebox_header span{ font-size:20px; padding:0px 10px;}
.acc_safe_box .row{ border-top:1px solid #e7e7e7; padding:10px 30px; margin:0px;}
.acc_safe_box .table tbody tr .b_txt{padding-left:20px;}
.acc_safe_box .table tbody tr td{padding:20px 8px;}

.gray_btn{ background:#f8f8f8; color:#7a93a6; padding:3px 8px; display:inline-block;}
.gray_btn:hover{background:#efefef; color:#7a93a6; text-decoration:none;}
.table > tbody > tr > td{ vertical-align:middle;}

/* invoice */
.invoice_box{background: #fff; padding: 5px;}
.invoice_box .table tbody tr td{padding:18px 12px; text-align: left;}
.invoice_box .table{ margin-bottom: 0px;}
.tb_title{ margin: 0px -5px; border-bottom: 2px solid #ebe7d0; padding: 5px;}
.tb_title h2{ margin: 5px 0 6px; text-align: left; color: #17668e; padding: 0px 10px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ebe7d0;
    padding: 20px 12px;
    color: #6e8fa9;
    line-height: 1.2;
	font-size: 13px;}

table thead{ border-top: none;}

/* products */
.products_bg{ text-align: center; background:bottom center url(../images/bg_products.jpg) no-repeat; background-size: cover; padding:50px 20px 20px; height:189px;}
.products_bg h1{color:#FFF; font-weight:700; font-size:45px; margin-bottom:10px; margin-top:20px;}
.p_intro{padding: 20px 0px 20px; border-bottom: 1px solid #e7e7e7; margin: 0px 15px 50px;}
.p_intro ul li{ list-style: decimal; padding: 5px; font-size:13px;}
.p_intro ul{ margin-bottom: 40px; padding-left: 20px;}
.p_intro h4{ margin-bottom: 15px;}
.p_intro h5{ margin-bottom: 5px;}
.captcha_area{padding: 5px 0px;}
.captcha_area .captcha_img{ border: 1px solid #e7e7e7; margin-right: 10px; display: inline-block;}
.sele_product{margin: 0px 15px 40px; padding-bottom:40px; border-bottom:1px solid #e7e7e7;}
.sele_product .sub_hl{margin-bottom: 5px; padding: 0px;}
.sele_product span{margin-right: 10px;}
.t_header{ margin-top:15px;}
.t_header div{ background:#e8e8e8; padding:8px 5px; border-right:1px solid #fff; }
.t_header:after{ content:""; display:inline-block; clear:both;}
.prod_row .col-md-2, .prod_row .col-md-4{ float:none; display:inline-block; margin-right:-4px; vertical-align:middle;}
.prod_row{ margin:5px 0px; padding:30px 0px; background:#fff;}
.prod_row:hover{-webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 0px 12px rgba(0, 0, 0, 0.175);}
.sele_25{ width:25%; display:inline-block;}
.sele_60{ width:60%; display:inline-block;}
.col_p_name{ color:#17668e; font-weight:700; font-size:18px;}
.col_p_name img{ margin-right:10px;}
.col_rate{color:#bda631; font-weight:700;}
.sele_product .big-btn{ width:100%; font-weight:400; text-align:center; padding:15px 20px; margin-top:15px;}
.product_area .container { margin: 30px auto 30px;}
.prod_payment{ padding:0px 15px 20px;}
.prod_col{ padding:0px;}
.prod_col h5{ margin-bottom:5px; font-size: 16px;}
.list_l{width:115px; display:inline-block; vertical-align:top; font-weight:700; color:#444;}
.list_r{ width:65%; display:inline-block; font-weight:400;}
.list_row{ margin:5px 0px;}

/* openacc */
.step_area{ width:100%; padding:0px 15px; margin-bottom:30px;}
.step_area ul li{ float:left; width:20%; border-bottom:3px solid #e2e2e2; padding:8px 5px; color:#b6b6b6; text-align:center;}
.step_area ul li.step_on{ border-bottom:3px solid #35799c; color:#35799c;} 
.step_area ul li.step_done{ border-bottom:3px solid #bfd6e1; color:#bfd6e1;} 
.openacc_area .container {margin: 30px auto 30px;}
.text_top{ vertical-align:top; padding-top:5px;}
.others{ margin:5px 0px;}
.others .form-control{ width:50%; height:auto; padding:5px; margin:0px;}
.others select.form-control{ width:auto;}
.checkbox_area .col-md-4{ margin:5px 0px;}
.f_note{font-size:12px; margin-top:5px;}
.sub_check{padding:5px 5px 5px 35px;}
.sub_check .form-control{ margin-bottom:8px;}
.openacc_area .form-horizontal .form-group{margin-left: 10px; margin-right: 10px;}
.form_full{text-align:left; padding-bottom:8px;}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{ padding-top:5px;}
.others .sub_check{padding: 5px 5px 5px 59px;}

ul.list_dec{ padding-left:20px;}
.list_dec li{ list-style:decimal; padding:8px;}

.text_box{ height:300px; overflow:auto; border:1px solid #ccc; padding:10px 20px; margin-bottom:20px;}

.f_confirm{text-align:center; font-size:30px; margin:50px 0px;}
.f_confirm img{ width:60px; margin-right:20px;}

.forgetpw{ padding:30px 80px;}
.forgetpw h3{ font-size:16px; font-weight:700; margin-bottom:10px;}

/* 2018 07 31 */
#login .modal-content .pprow{ padding:30px 30px;}

.dropbtn {
    border: 1px solid #80b1bb;
background-color: rgba(255, 255, 255, 0);
padding: 6px 20px 6px 6px;
color:#b1b1b1;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
font-size:10px;
transition: 0.3s;
position:relative;
line-height: 16px;
}
.dropbtn::after{
	right: 5px;
    top: 10px;
    font-size: 0.8rem;
	position: absolute;
	font-family: 'icomoon';
	content: "\f078";
	color: rgba(255, 255, 255, 0.3);
	transition: 0.5s;
	font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
}
.dropbtn img{
	width:13px; 
	margin-right:4px;
	vertical-align:sub;
}
.dropdown {
    position: relative;
    display: inline-block;
	margin: 14px 0px 0px 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
opacity:0;
overflow:hidden;
transition: 0.5s;
}

.dropdown-content a {
    color: rgba(0,0,0,0.5)!important;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
	font-size: 1rem !important;
line-height: 1.2rem;
}

.dropdown-content a:hover {background-color: #fff; color:#9fd3d3!important;}

.dropdown:hover .dropdown-content {display: block; opacity:1;}

.dropdown:hover .dropbtn {background-color: rgba(159,211,211,0.3);}

.dropdown:hover .dropbtn::after{ color:#fff;}



.carousel-indicators li{
	background-color: rgba(255,255,255,0.3);
	border-radius: 0px;
	border:none;
	margin:0px;
	vertical-align:middle;
	text-indent: -9999px;
}
.carousel-indicators .active{
	background-color: rgba(255,255,255,0.8);
	width:10px;
	height:10px;
	margin:0px;
}
.carousel-inner > .item{
	height:100vh;
}

.carousel-control{ opacity:0.2;}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{font-size:18px;}
.carousel-control .glyphicon-chevron-right{margin-right:-35%;}
.carousel-control .glyphicon-chevron-left{margin-left:-35%;}
.carousel-indicators { bottom: 15px;}

.La-banner{
	display: block;
width: 100%;
height:100vh;
}
.La-bg1 {
    background: url(../images/p1.jpg) top center no-repeat;
	background-size: cover;
}
.La-bg2 {
    background: url(../images/p2.jpg) top center no-repeat;
	background-size: cover;
}
.La-bg3 {
    background: url(../images/p3.jpg) top center no-repeat;
	background-size: cover;
}

.carousel-caption{opacity:0;}
.carousel-caption h1{color:#fff; font-size: 3.5em;}

.g_btn{
	background:#5c53d0;
	color:#fff;
	border-radius: 4px;
	padding:10px 20px;
}
.g_btn:hover{
	color:#fff;
	text-decoration:none;
	background:#7269e6;
}
.carousel-caption { top:30%;}
.carousel-caption i{width:100px; display:inline-block; margin-bottom:20px;}
.carousel-caption i img{width:100%;}

#fh5co-aboutus{
	background:#fff;
}
.full_wc{
	width:80%;
	text-align:center;
	padding:80px 20px;
	margin:auto;
}
.full_wc h2{
	display:inline-block;
}
.full_wc h2::after{
	border-bottom:5px solid #9fd3d3;
	content:"";
	margin-top:12px;
	display:block;
}

#fh5co-services .p_row{
	padding:0px 5%;
	border-bottom:10px solid #fff;
	float:left;
}

.fea_img{text-align:center;}
.fea_img img{ margin-top:30px;}
.fea_txt{margin-top:55px;}

.features_r{ background:#fff;}
.features_r i{ width:100px; display:inline-block; margin-bottom:20px;}
.features_r i img{ width:100%;}
.features_r h4{ margin-bottom:15px;}
.features_r .col-md-4{padding:0px 50px;}
.features_r .hl_title{margin-bottom:30px;}

.social-box a{ width:20px; display:inline-block; margin-right:8px;}
.social-box a img{width:100%;}
.gtco-widget{ margin-bottom:50px;}
.gtco-widget h3{color:#9fd3d3; font-size:18px; font-weight:700; margin-bottom:20px;}
.ff-width{ padding:50px 3% 20px;}
.gtco-widget ul li{padding-bottom:2px;}
.gtco-widget ul li a{font-size:12px; color:#6a6a6a; transition: 0.5s;}
.gtco-widget ul li a:hover{ text-decoration:none; color:#9fd3d3;}
.foot_logo{ width:100px; margin-bottom:10px;}
.ff-width p{ font-size:11px;}

.top_b_t{ width:100%; height:300px; min-height:250px; background-size:cover; background-position:center; text-align:center; padding:160px 30px 0px; font-size:20px; font-weight:700;}
.pm_bg{ background-image:url(../images/top_b_pm.jpg);}
.aboutus_bg{ background-image:url(../images/top_b_aboutus.jpg);}
.clients_bg{ background-image:url(../images/top_b_clients.jpg);}
.contact_bg{ background-image:url(../images/top_b_contact.jpg);}
.solution_bg{ background-image:url(../images/top_b_solution.jpg);}
.videos_bg{ background-image:url(../images/top_b_videos.jpg);}

#fh5co-pm{padding:50px 0px;}
#fh5co-about{padding:50px 0px;}
#fh5co-contact{padding:50px 0px;}

.left_menu{width:20%; float:left;}
.left_menu ul li a{padding:6px 0px; display:block; color:#747474; border-right: 5px solid #e1e1e1;}
.left_menu ul li a:hover{text-decoration:none; border-right: 5px solid #5abab9; color:#5abab9;}
.left_menu ul li a.active{text-decoration:none; border-right: 5px solid #5abab9; color:#5abab9; cursor:default;}
.right_content{width:80%; float:left; border-left:1px solid #e1e1e1; padding-left:30px;}
.pay_logo{height:80px; margin-bottom: 30px;}
.pay_logo img{ height:100%;}
ul.f_lis{padding-left:15px;}
ul.f_lis li{ list-style:decimal; padding: 15px 0px 15px 5px;}
ul.s_lis{padding-left:15px;}
ul.s_lis li{ list-style: disc; padding: 5px 0px 5px 0px; font-size: 1.3rem; line-height:2.2rem;}
ul.r_list li{ list-style:upper-roman;}
ul li {
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.divider{margin:45px 0px; border-bottom:1px solid #e1e1e1;}
p{line-height: 2.7rem;}
.page_t h3{line-height:35px;}

.logo_area{ background:#fff; padding:20px; text-align:center;}
.logo_f{ width:19%; display:inline-block; vertical-align:middle; padding:25px}
.logo_f img{ width:100%;}

#fh5co-contact .page_t b{ width:50px; display:inline-block;}

#fh5co-header #navbar li.login_f a .m_link{ background:#5c53d0; 
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
padding:5px 10px!important;
color:#fff;
font-size:1rem;
display:inline-block;}
#fh5co-header #navbar li.login_f a{ padding:0px!important; margin:14px 0px 0px 7px;}
#fh5co-header #navbar li.login_f a:hover .m_link{ background:#7269e6;}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.login_wrapper{width:50%; margin:0px auto 50px;}
.form-control{margin-bottom:10px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;}
.login_content .g_btn{ width:100%;}
.login_content .g_btn:hover{ background:#7269e6!important;}

.alert_m{width:100%; padding:8px 15px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px;
background:#C13127;
color:#fff;
margin-bottom:10px;
}
.alert_m img{
	vertical-align:middle;
	margin-right:5px;
}
.flag_area{ text-align:center;}
.flag_area .col-md-4, .flag_area .col-sm-4{ padding:0px;}
.flag_area .flag_c{width:100%; padding:10px 10px 10px 0px; text-align:left; vertical-align:top; display:inline-block; vertical-align:middle;}
.flag_area .flag_c span{ padding-left:8px;}
.flag_c img{ width:10%;}

.navbar-collapse{ padding:0px;}
.p_row p{line-height: 2.3rem; margin-bottom:1.5rem;}
#fh5co-header #navbar li a{ padding-left:9px; padding-right:9px;}

.page_t iframe{ width:100%; height:450px;}
.page_t h4{ margin-bottom:50px; margin-top:10px; text-align:center;}

.pm_f_img{text-align:center;}
.cirle_step{-moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background:#8AD3D1; color:#fff; padding: 6px; width: 30px; height: 30px; display: inline-block; vertical-align: middle; margin-right: 8px; text-align:center;}
.divi_arrow{ display:block; text-align:center; padding:50px 0px;}
.divi_arrow img{ width:50px;}

.contact_flag{ width:35px; vertical-align:middle; margin-right:10px;}

.top_payicon{display: flex; padding: 23px 0px 0px 8px;}
.top_payicon img{ margin-left: 5px; height: 25px;}

.title_3{ text-align: center; margin-bottom: 15px;}
.pm_f_img img { width: 60%;}

.downloadicon{width: 20px; display: inline-block; margin-right: 15px;}
.downloadicon img{width: 100%;}

.fagcard_con{ margin: 30px 0px;}
.fagcard_con p{ margin-bottom: 5px;}
.fagcard_con img{ width: 150px;}

.r_code_area{margin-bottom: 10px;}
.r_code_area .form-control{ width: 75%;}
.r_code_area img{ width: 23%; height: 42px; float: right;}

@media screen and (max-width: 1200px) {
	.desktop{ text-align:center;}
	.trading_app .section-heading{ position: relative; right:auto; top:auto; float: inherit; padding:20px 30px 20px; width:100%;}
	.carousel-inner > .item{height:auto;}
	.La-banner{height:600px;}
	.carousel-caption { top:25%;}
	.features_r .col-md-4{padding:0px 50px 50px;}
	
}

@media screen and (max-width: 992px) {
		#fh5co-header #navbar li.call-to-action a.external{ padding:0px!important;}
		.desktop{padding:0px 20px;}
		.desktop img{ width:100%;}
		#fh5co-header .navbar-default{padding:0px 10px;}
		.download_area{ padding:30px 20px;}
		.download_area .col-md-4{ margin:80px 0px;}		
	.contact_us_area .col-md-4{ padding:20px 15px;}
	#fh5co-header #navbar li.lang-box{padding: 8px 15px 0px;}
	#fh5co-header #navbar li a{ font-size:13px;}
	.btn_acc .form-control{ font-size:13px;}
	.myacc_area .col-md-4{margin-bottom:20px;}
	.myacc_area .acc_info_box .col-md-4{margin:0px; padding:5px 15px;}
	
	.t_header .col-md-2{ width:16.66667%; float:left;}
	.t_header .col-md-4{ width:33.33333%; float:left;}
	.prod_row .col-md-2, .prod_row .col-md-4{ margin-right:-8px;}
	.sele_25{ width:75%; margin:5px;}
    .sele_60{ width:75%; margin:5px;}
	.prod_col{ padding:0px 0px 30px;}	
	.prod_row .col-md-2, .prod_row .col-md-4{width:100%; margin:5px 0px;}
	.t_header{ display:none;}
	.invoice_box{ margin-bottom: 30px;}
	.fea_img{width:100%;}
	.fea_img img{ margin-top:5px;}
	.fea_txt{text-align:center;}
	.ff-width{ padding:50px 3% 50px; text-align:center;}
	.logo_f{ width:24%;}
	.login_wrapper{width:80%;}
	.login_content h3{text-align:center;}
	
	#fh5co-header .navbar-brand { width: 100px; margin: 22px 0px;}
	#fh5co-header #navbar li a span{ font-size:10px;}
	#fh5co-header #navbar li { padding-top: 8px;}
	.dropdown { margin: 13px 2px 0px 2px;}
	#fh5co-header #navbar li a span::before { bottom: -28px;}
	.pm_f_img img { width:80%;}
    
    .top_payicon{display: flex; padding: 30px 0px 0px 8px;}
    .top_payicon img{ margin-left: 3px; height: 17px;}
    
    .fagcard_con{ text-align: center;}
}
@media screen and (max-width: 768px) {
	#fh5co-header #navbar .navbar-right{ padding-bottom:10px;}
	#fh5co-home, #fh5co-home .text-wrap{margin:0px;}
	.text-left{ text-align:center; padding:0px 30px;}
	.online_reg{ background-size:cover;}
	.overlay{ position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255, 255, 255, 0.7);}
	.online_reg .section-heading{ width:100%; margin-top:150px;}
	.navbar-collapse.in{ overflow:hidden;}
	#fh5co-header #navbar li.call-to-action .external{float:inherit;}
	.software_bg{ height:auto;}
	.software_bg img{ width:90%;}
	.software_bg h1{color:#FFF; font-weight:700; font-size:30px; margin-bottom:10px;}
	.software_bg h2{color:#FFF; font-weight:400; font-size:15px; margin-bottom:50px;}
	#login .modal-lg{ width:90%; margin:15% auto;}
	#login .modal-header h4{ font-size:24px;}
	.form_right{ width:100%;}
	.form_left{ width:100%; text-align:left;}
	.form_right .col_nt{ padding:0px; margin-bottom:5px;}
	.form_right .col_nt label, .form_right .col_nb label{margin-top: 10px;}
	.with_tooltip{ width:100%;}
	.tooltip_area{ margin:5px 0px;}
	.col-5{width:40%; padding:10px; float: none; margin:auto;}
	#fh5co-header #navbar li a{ font-size:16px; padding:10px 12px;}
	.navbar-nav{ margin:0px;}
	#fh5co-header #navbar .call-to-action .btn_acc{ float:inherit;}
	.btn_acc .form-control{ width:100%;}
	#fh5co-header #navbar li.call-to-action .btn_acc li a{ font-size:13px; text-align:center; padding:10px;}
	.btn_acc .form-control{ font-size:13px; text-align:center;}
	.navbar-right .btn_acc .dropdown-menu{ margin-top:5px;}
	.myacc_area{font-size:13px;}	
	.prod_row{ margin:15px 0px;}
	.list_r{ width:50%;}
	.step_area ul li{ font-size:13px;}	
	.forgetpw{ padding:30px 0px;}	
	.dropdown-content{ display:block; position:inherit; box-shadow: none; text-align:center; background:none; opacity:1; margin-top: 8px;}
	.dropdown{ width:100%; margin:10px 0px 0px;}
	.dropdown-content a {  color: rgba(255,255,255,0.5) !important;}
	.dropdown-content a:hover {background: none;}
	#fh5co-header #navbar li a span::before { display:none;}
	#fh5co-header .navbar-brand { width:130px; margin: 17px 0px 17px 10px;}
	.navbar-default .navbar-collapse{ border-top:1px solid rgba(255,255,255,0.1); box-shadow:none;}
	.carousel-caption i{width:90px;}
	.carousel-caption h1{font-size:3em;}
	.carousel-caption { top:20%;}
	.fea_img img{ width:60%;}
	.features_r .col-md-4{padding:0px 3% 50px;}
	
	.left_menu {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.right_content {
    width: 100%;
    float: left;
    border-left: none;
    padding-left: 0px;
}
.pay_logo {
    height: 60px;
    margin-bottom: 30px;
    text-align: center;
}
.page_t h3{text-align:center;}
#fh5co-pm {padding: 20px 0px;}
#fh5co-about .page_t p, #fh5co-contact .page_t p{ text-align:center;}
.logo_f{ width:32%; padding:30px;}
#fh5co-contact .page_t b{ width: auto;}
#fh5co-header #navbar li a span{ font-size:13px;}
#fh5co-header #navbar li a{ padding: 6px 12px;}
.flag_area .flag_c{ text-align:center;}
.flag_area .flag_c span {  padding-left: 0px; padding-top:5px;  display: block;}
.page_t iframe{ width:100%; height:520px;}
    .top_payicon{display: flex; padding: 25px 0px 0px 8px;}
    .top_payicon img{ margin-left: 4px; height: 24px;}
    
}
@media screen and (max-width: 460px) {	
	.software_bg h1{color:#FFF; font-weight:700; font-size:25px; margin-bottom:10px;}
	.col-5{width:50%;}
	.others .form-control{ width:100%;}
	.others .sub_check{ padding:5px 0px;}
	.carousel-caption i{width:80px;}
	.fea_img img{ width:100%;}
	.logo_f{ width:100%; padding:40px 20px;}
	.logo_f img{ width:90%;}
	.login_wrapper{width:90%;}
	.page_t iframe{ width:100%; height:300px;}
}


/*# sourceMappingURL=style.css.map */

/* by Alex */

@media screen and (min-width: 992) {

  .mobileBr {
    display: none;
  }

}